<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	
	<filter>
    	<filter-name>logincheck</filter-name>
    	<filter-class>jp.servlet.LoginCheckFilter</filter-class>
	</filter>
	<filter-mapping>
    	<filter-name>logincheck</filter-name>
    	<url-pattern>/loginOK.jsp</url-pattern>
	</filter-mapping>
	
	<filter>
    	<filter-name>logincheck2</filter-name>
    	<filter-class>jp.servlet.LoginCheckFilter</filter-class>
	</filter>
	<filter-mapping>
    	<filter-name>logincheck2</filter-name>
    	<url-pattern>/staffloginOK.jsp</url-pattern>
	</filter-mapping>    
	
	<servlet>
		<servlet-name>Pair</servlet-name>
		<servlet-class>model.PairServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Pair</servlet-name>
		<url-pattern>/pair</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Reservation</servlet-name>
		<servlet-class>jp.servlet.ReservationMain</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Reservation</servlet-name>
		<url-pattern>/reservation</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ReservationCheck</servlet-name>
		<servlet-class>jp.servlet.StaffReservationCheck</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReservationCheck</servlet-name>
		<url-pattern>/reservationcheck</url-pattern>
	</servlet-mapping>
	
	<servlet>
    	<servlet-name>logout</servlet-name>
    	<servlet-class>jp.servlet.LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
    	<servlet-name>logout</servlet-name>
    	<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	
	<servlet>
    	<servlet-name>customerReservation</servlet-name>
    	<servlet-class>jp.servlet.CustomerReservationCheck</servlet-class>
	</servlet>
	<servlet-mapping>
    	<servlet-name>customerReservation</servlet-name>
    	<url-pattern>/customerReservation</url-pattern>
	</servlet-mapping>
	
	<servlet>
    	<servlet-name>editReservation</servlet-name>
    	<servlet-class>jp.servlet.EditReservationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
    	<servlet-name>editReservation</servlet-name>
    	<url-pattern>/edit</url-pattern>
	</servlet-mapping>
	
	<servlet>
    	<servlet-name>delReservation</servlet-name>
    	<servlet-class>jp.servlet.DeleteReservation</servlet-class>
	</servlet>
	<servlet-mapping>
    	<servlet-name>delReservation</servlet-name>
    	<url-pattern>/del</url-pattern>
	</servlet-mapping>
	
	<servlet>
    	<servlet-name>findReservation</servlet-name>
    	<servlet-class>jp.servlet.FindReservation</servlet-class>
	</servlet>
	<servlet-mapping>
    	<servlet-name>findReservation</servlet-name>
    	<url-pattern>/find</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
